@model Taxtation.ViewModel.TXSItemDetailView

<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Item Detail</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            ×
                        </button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("Item", "Setup", FormMethod.Post))
    {
                    <div>
                        <input type="text" asp-for="master.ItmId" class="form-control" hidden="hidden" />
                    </div>
                    <div>
                        Parent ID:
                        <select asp-for="master.ItmPid" class="form-control" required="required">
                            <option value="-1">Select</option>
                            @foreach (var j in Model.lstParent)
        {
                    <option value=@j.ItmId>@j.ItmName</option>
}
                        </select>
                    </div>
                    <div>
                        Name:
                        <input type="text" asp-for="master.ItmName" class="form-control" required="required" />
                        @Html.CheckBox("ItmActive", Model.master.ItmActive.Value)Active
                    </div>
                    <div>
                        Type:
                        <select asp-for="master.ItmType" class="form-control" required="required">
                            <option value="">Select</option>
                            <option value="CATEGORY">CATEGORY</option>
                            <option value="ITEM">ITEM</option>
                        </select>
                    </div>

                    <div>
                        Bar Code:
                        <input type="text" asp-for="master.ItmBcode" class="form-control" required="required" />
                    </div>
                    <div>
                        Unit of Measurement:
                        <select asp-for="master.ItmUom" class="form-control" required="required">
                            <option>Select</option>
                            @foreach (var j in Model.lstUOM)
        {
                    <option value=@j.Uomid>@j.Uomname</option>
}
                        </select>
                    </div>
                    <div>
                        @Html.CheckBox("ItmIsSale", Model.master.ItmIsSale.Value)Is Sale
                        @Html.CheckBox("ItmIsPurchase", Model.master.ItmIsPurchase.Value)Is Purchase
                        @Html.CheckBox("ItmIsService", Model.master.ItmIsService.Value)Is Service
                    </div>
                    <div>
                        Min Level:
                        <input type="number" asp-for="master.ItmMinLevel" class="form-control" required="required" />
                    </div>
                    <div>
                        Max Level:
                        <input type="number" asp-for="master.ItmMaxLevel" class="form-control" required="required" />
                    </div>
                    <div>
                        Re Level:
                        <input type="number" asp-for="master.ItmReLevel" class="form-control" required="required" />
                    </div>

                    <div>
                        CP:
                        <input type="number" asp-for="master.ItmCp" class="form-control" required="required" />
                    </div>
                    <div>
                        SP:
                        <input type="number" asp-for="master.ItmSp" class="form-control" required="required" />
                    </div>
                    <div>
                        Opening Quantity:
                        <input type="number" asp-for="master.ItmOpQty" class="form-control" required="required" />
                    </div>
                    <div>
                        Store:
                        <select asp-for="master.ItmOpStore" class="form-control" required="required">
                            <option value="">Select</option>
                            @foreach (var j in Model.lstStore)
        {
                    <option value=@j.StrId>@j.StrName</option>
}
                        </select>
                    </div>
                    <br />
                    <div>
                        @if (ViewData["_Save"].ToString() == "True")
    {
                    <button type="submit" name="Save" id="Save" value="Save" style="background-image:url(../images/button/Save.png)" class="btnControlDML">Save</button>
}
                        @if (ViewData["_Update"].ToString() == "True")
    {
                    <button type="submit" name="Update" id="Update" value="Update" style="background-image:url(../images/button/Update.png)" class="btnControlDML">Update</button>
}
                        <button type="button" style="float:right;background-image:url(../images/button/Clear.png)" id="btnHideModal" data-dismiss="modal" class="btnControlDML">
                            Hide
                        </button>
                    </div>
}
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#master_ItmType').change(function () {
            if ($('#master_ItmType').val() == 'CATEGORY') {
                $('#master_ItmBcode').removeAttr("required"); $('#master_ItmBcode').attr('disabled', 'disabled');
                $('#master_ItmUom').removeAttr("required"); $('#master_ItmUom').attr('disabled', 'disabled');
                $('#master_ItmMinLevel').removeAttr("required"); $('#master_ItmMinLevel').attr('disabled', 'disabled');
                $('#master_ItmMaxLevel').removeAttr("required"); $('#master_ItmMaxLevel').attr('disabled', 'disabled');
                $('#master_ItmReLevel').removeAttr("required"); $('#master_ItmReLevel').attr('disabled', 'disabled');
                $('#master_ItmCp').removeAttr("required"); $('#master_ItmCp').attr('disabled', 'disabled');
                $('#master_ItmSp').removeAttr("required"); $('#master_ItmSp').attr('disabled', 'disabled');
                $('#master_ItmOpQty').removeAttr("required"); $('#master_ItmOpQty').attr('disabled', 'disabled');
                $('#master_ItmOpStore').removeAttr("required"); $('#master_ItmOpStore').attr('disabled', 'disabled');
                $('#ItmIsSale').attr('disabled', 'disabled');
                $('#ItmIsPurchase').attr('disabled', 'disabled');
                $('#ItmIsService').attr('disabled', 'disabled');

            }
            else {
                $('#master_ItmBcode').removeAttr("disabled"); $('#master_ItmBcode').attr('required', 'required'); 
                $('#master_ItmUom').removeAttr("disabled"); $('#master_ItmUom').attr('required', 'required');
                $('#master_ItmMinLevel').removeAttr("disabled"); $('#master_ItmMinLevel').attr('required', 'required');
                $('#master_ItmMaxLevel').removeAttr("disabled"); $('#master_ItmMaxLevel').attr('required', 'required');
                $('#master_ItmReLevel').removeAttr("disabled"); $('#master_ItmReLevel').attr('required', 'required');
                $('#master_ItmCp').removeAttr("disabled"); $('#master_ItmCp').attr('required', 'required');
                $('#master_ItmSp').removeAttr("disabled"); $('#master_ItmSp').attr('required', 'required');
                $('#master_ItmOpQty').removeAttr("disabled"); $('#master_ItmOpQty').attr('required', 'required');
                $('#master_ItmOpStore').removeAttr("disabled"); $('#master_ItmOpStore').attr('required', 'required');
                $('#ItmIsSale').removeAttr("disabled");
                $('#ItmIsPurchase').removeAttr("disabled");
                $('#ItmIsService').removeAttr("disabled");
            }

        })
    })

    
        if ($('#master_ItmType').val() == 'CATEGORY') {
            $('#master_ItmBcode').removeAttr("required"); $('#master_ItmBcode').attr('disabled', 'disabled');
            $('#master_ItmUom').removeAttr("required"); $('#master_ItmUom').attr('disabled', 'disabled');
            $('#master_ItmMinLevel').removeAttr("required"); $('#master_ItmMinLevel').attr('disabled', 'disabled');
            $('#master_ItmMaxLevel').removeAttr("required"); $('#master_ItmMaxLevel').attr('disabled', 'disabled');
            $('#master_ItmReLevel').removeAttr("required"); $('#master_ItmReLevel').attr('disabled', 'disabled');
            $('#master_ItmCp').removeAttr("required"); $('#master_ItmCp').attr('disabled', 'disabled');
            $('#master_ItmSp').removeAttr("required"); $('#master_ItmSp').attr('disabled', 'disabled');
            $('#master_ItmOpQty').removeAttr("required"); $('#master_ItmOpQty').attr('disabled', 'disabled');
            $('#master_ItmOpStore').removeAttr("required"); $('#master_ItmOpStore').attr('disabled', 'disabled');
            $('#ItmIsSale').attr('disabled', 'disabled');
            $('#ItmIsPurchase').attr('disabled', 'disabled');
            $('#ItmIsService').attr('disabled', 'disabled');

        }
        else {
            $('#master_ItmBcode').removeAttr("disabled"); $('#master_ItmBcode').attr('required', 'required');
            $('#master_ItmUom').removeAttr("disabled"); $('#master_ItmUom').attr('required', 'required');
            $('#master_ItmMinLevel').removeAttr("disabled"); $('#master_ItmMinLevel').attr('required', 'required');
            $('#master_ItmMaxLevel').removeAttr("disabled"); $('#master_ItmMaxLevel').attr('required', 'required');
            $('#master_ItmReLevel').removeAttr("disabled"); $('#master_ItmReLevel').attr('required', 'required');
            $('#master_ItmCp').removeAttr("disabled"); $('#master_ItmCp').attr('required', 'required');
            $('#master_ItmSp').removeAttr("disabled"); $('#master_ItmSp').attr('required', 'required');
            $('#master_ItmOpQty').removeAttr("disabled"); $('#master_ItmOpQty').attr('required', 'required');
            $('#master_ItmOpStore').removeAttr("disabled"); $('#master_ItmOpStore').attr('required', 'required');
            $('#ItmIsSale').removeAttr("disabled");
            $('#ItmIsPurchase').removeAttr("disabled");
            $('#ItmIsService').removeAttr("disabled");
        }

</script>