@model List<TxsitemDetail>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Report:Item Detail</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <p style="float:right">@Html.Label(DateTime.Today.ToString("dd-MM-yyyy"))</p>
        <h2>ITEMS DETAIL</h2>
        <div style="width:100%;border-top:1px solid black"></div>
        <br />
        <table class="table table-bordered">
            <thead>
                <tr style="background-color:#F1F1F1">
                    <th>Code</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Re-Order Level</th>
                    <th>Active</th>
                    <th>Enter by</th>
                    <th>Enter Date</th>
                    <th>Edit By</th>
                    <th>Edit Date</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.ItmId
                        </td>
                        <td>@item.ItmName</td>
                        <td>@item.ItmType</td>
                        <td>@item.ItmReLevel</td>
                        <td>@item.ItmActive</td>
                        <td>@item.EnterBy</td>
                        <td> @item.EnterDate</td>
                        <td>@item.EditBy</td>
                        <td>@item.EditDate</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</body>
</html> 