@model IEnumerable<Taxtation.Models.TxsitemDetail>

@{
    ViewData["Title"] = "showItem";
}

<div class="MainDiv">
    <div>
        <h2>Items</h2>
    </div>
    <div class="modal fade" id="myModal" role="dialog" data-url='@Url.Action("Item","Setup")'></div>
    <br />
    <div style="float:left;">
        <button id="btnAddRow" style="width:120px;" class="form-control-btn">Add New</button>
    </div>
    <div style="text-align:right;width:120px;float:left;padding-left:2px;">@Html.ActionLink("Report", "PrintAllItem", new { }, new { target = "_blank", @class = "form-control-btn" })</div>
    <div style="float:right;">
        <input type="text" id="myInput" class="form-control" onkeyup="myFunction()" placeholder="Search..." title="Type in a name">
    </div>
</div>
<div class="GridStyle">
    <table class="table table-striped" id="myTable">
        <thead>
            <tr>
                <th></th>
                <th>
                    ID
                </th>
                <th>
                    User Name
                </th>
                <th>
                    Itm Id
                </th>
                <th>
                    Pid
                </th>
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>
                <th>
                    Bar code
                </th>
                <th>
                    Uom
                </th>
                <th>
                    Is Sale
                </th>
                <th>
                    Is Purchase
                </th>
                <th>
                    Is Service
                </th>
                <th>
                    Min Level
                </th>
                <th>
                    Max Level
                </th>
                <th>
                    Re Level
                </th>
                <th>
                    Cp
                </th>
                <th>
                    Sp
                </th>
                <th>
                    Op Qty
                </th>
                <th>
                    Op Store
                </th>
                <th>
                    Active
                </th>
                <th>
                    Enter By
                </th>
                <th>
                    Enter Date
                </th>
                <th>
                    Edit By
                </th>
                <th>
                    Edit Date
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <a id="btnEdit" class="btnEdits form-control-btn-edit" data-url='@Url.Action("Item","Setup", new { id=item.ItmId })'>Edit</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItmId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItmPid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItmName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItmType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItmBcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItmUom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItmIsSale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItmIsPurchase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItmIsService)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItmMinLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItmMaxLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItmReLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItmCp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItmSp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItmOpQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItmOpStore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItmActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnterBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnterDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EditBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EditDate)
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#btnAddRow").click(function () {
                var url = $('#myModal').data('url');
                $.get(url, function (data) {
                    $('#myModal').html(data);
                    $('#myModal').modal('show');
                });
            });
        });

        $(document).ready(function () {
            $(".btnEdits").click(function (event) {
                var url = event.target.dataset.url;
                $.get(url, function (data) {
                    $('#myModal').html(data);
                    $('#myModal').modal('show');
                });
            });
        });

    </script>

    <script>
        function myFunction() {
            debugger;
            var input, filter, table, tr, td, i, txtValue, j;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            var tds = $('#myTable').children('tbody').children('tr').children('td').length;
            tds = tds / tr.length;
            for (i = 1; i < tr.length; i++) {
                for (j = 0; j < tds; j++) {
                    td = tr[i].getElementsByTagName("td")[j];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break;
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        }
    </script>

}